# SAM build artifacts

.aws-sam/

# Python

**pycache**/
\*.pyc
\*.pyo
\*.pyd
.env

# Layer binaries (you'll fetch locally)

layer/bin/ffmpeg
layer/bin/ffprobe

# OS / Editor

.DS\_Store
Thumbs.db
.vscode/
